html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-decoration: none;
  line-height: 1.2;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

textarea:focus,
select:focus {
  outline: none !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

button {
  border: none;
  background: none;
}

.btn:focus {
  box-shadow: none;
}

input:focus {
  outline: none !important;
}

a {
  display: inline-block;
}

a:active,
a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #002033;
  margin: 0;
  padding: 0;
  background: #EDEEF0;
}

::-webkit-scrollbar {
  width: 8px;
  background: #0042690F;
}

::-webkit-scrollbar-thumb {
  background: #0042693D;
  border-radius: 8px;
}

.wrapper {
  /* min-width: 1920px; */
  width: 100%;
  overflow: hidden;
}

.title {
  font-size: 23px;
  font-weight: 700;
  line-height: 32px;
}

/* header */
/* header start */
.header {
  background: #fff;
  padding: 12px 16px;
  display: flex;
  align-items: center;
  height: 48px;
  justify-content: space-between;
  border-bottom: 1px solid #00416633;
}

.logo {
  background: #32B4FF;
  border-radius: 4px;
  min-width: 24px;
  max-width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .logo-box {
  display: flex;
  align-items: center;
  gap: 8px;
  /* margin-right: 16px; */
}

.home .hamburger-menu {
  /* margin-right: 8px; */
}

.home .header .logo-box {
  /* margin-right: 16px; */
}

.home .Breadcrumbs::-webkit-scrollbar {
  display: none;
}

.header .logo-box p {
  font-size: 16px;
  line-height: 25px;
  font-weight: 700;
  color: #002033;
}

.header .header-left {
  display: flex;
  align-items: center;
}

.header .header-left .search-box {
  width: 200px;
  margin-left: 0;
  /* margin-right: 6px; */
}

.header .search-box {
  position: relative;
}

.header .search-input {
  width: 200px;
  position: relative;
}

.header .search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 6px;
  width: 12px;
  height: 12px;
  z-index: 90;
}

.header .line {
  width: 1px;
  height: 16px;
  background: #00416633;
  margin: 0 16px;
}

.header .header-left {
  gap: 16px;
}

.header .header-left .line {
  margin: 0;
}

.header .line.mx-8 {
  margin-left: 0;
}

.header-breadcrumbs {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
  /* margin-left: 8px; */
}

.header-dropdown {
  padding: 0;
  background: transparent;
}

.header-breadcrumbs .ListItem {
  padding: 0;
}

.header-breadcrumbs .ListItem:hover {
  background: transparent;
}

.header-breadcrumbs .ListItem:before {
  width: 100%;
  height: 2px;
  top: auto;
  bottom: -17px;

}

.nav-list ul {
  display: flex;
  align-items: center;
  gap: 12px;
}

.home .nav-list ul {
  gap: 10px;
}

.nav-list a:hover {
  color: #002033;
}

.home .flex .btns .line,
.m-0 {
  margin: 0 !important;
}

.navbar-two__panel .navbar,
.navbar-screen .navbar {
  height: 100vh;
}

.header-menu .navbar,
.header-menu .main {
  height: calc(100vh - 48px - 38px);
}

.nav-list a {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #00203399;
  display: inline-block;
  position: relative;
}

.nav-list a.active {
  color: #002033;
}

.nav-list a.active::before {
  content: "";
  position: absolute;
  bottom: -14px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #0078D2;
}

.BreadcrumbsItem-Link {
  cursor: pointer;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.home .header-right {
  gap: 10px;
}

.header-right>div {
  display: flex;
  align-items: center;
  gap: 4px;
}

.header-right .User:hover {
  background: transparent;
}

.home .User-Name {
  font-size: 12px;
}

.header .Breadcrumbs {
  min-width: 205px;
}

.home .menu {
  border-bottom: 1px solid #00416633;
}

/* intro */
.intro {
  margin: 15px 0 36px 0;
  padding-left: 16px;
  padding-right: 16px;
}

.intro .title {
  margin: 24px 0 26px 0;
}

.intro-box {
  max-width: 806px;
  margin: 0 auto;
}

.intro-box img {
  width: 160px;
  height: 120px;
}

.intro-cards {
  display: grid;
  margin-top: 20px;
  row-gap: 20px;
  grid-template-columns: 175px 175px 175px;
  justify-content: space-between;
}

.intro-card {
  text-align: center;
}

.page-info {
  text-align: center;
  margin-top: 16px;
}

.hidden {
  display: none;
}

.hamburger-menu {
  /* margin-right: 16px; */
}

/* main */
.modern-box {
  background: #fff;
  padding-right: 8px;
}

.modern-box .panels .left-sidebar {
  margin-right: 8px;
}

.modern-box .panels .right-sidebar {
  margin-left: 8px;
}

.modern-box .main,
.modern-box .panels .sidebar {
  border: 1px solid #00416633;
  border-radius: 8px;
  height: calc(100vh - 48px - 8px);
  background: #EDEEF0;
}

.modern-box .header {
  padding-right: 6px;
}

.modern-box .navbar,
.modern-box .header {
  border: none;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: calc(100vh - 48px);
  width: 100%;
}

.main.h-full {
  height: 100vh;
}

.menu {
  background: #fff;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu .toolbar {
  background: #0BA5FF;
  text-transform: uppercase;
  font-size: 8px;
  height: 16px;
  width: 91px;
}

.menu .menu-right {
  display: flex;
  gap: 6px;
  align-items: center;
}

.menu .line,
.home .line {
  width: 1px;
  height: 12px;
  background: #00426947;
  margin: 0 4px;
}

.home .my-16 {
  margin: 16px 0;
}

.home .home-info {
  font-size: 12px;
  line-height: 140%;
}

.home {
  background: #fff;
}

.home .line.full {
  width: 100%;
  height: 1px;
  background: #00426947;
}

.home .content-box {
  background: #ECF1F4;
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.search-box {
  position: relative;
  width: 194px;
  margin-left: 4px;
}



.search-box input {
  border: 1px solid #00416633;
  border-radius: 4px;
  padding: 0 6px;
  height: 24px;
  width: 100%;
}

.search-box .search-icon svg path {
  fill: #00203359;
}

.search-box .search-icon svg {
  width: 10px;
  height: 10px;
}

.home .search-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home .bottom-main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #EDEEF0;
  height: calc(100vh - 560px);
}

.home .header-breadcrumbs.pl-0 {
  margin-left: 0;
}

.search-btns>div {
  display: flex;
  gap: 4px;
  align-items: center;
}

.search-btns .btns {
  display: flex;
  gap: 4px;
  align-items: center;
}

.search-box .search-icon {
  position: absolute;
  top: 50%;
  right: 7px;
  z-index: 10;
  transform: translateY(-50%);
}

.home-container {
  margin: 0 16px;
}

.home .home-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 12px 16px;
}

.home-text__boxes {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.home .justify-between {
  justify-content: space-between;
  align-items: center;
}

.navbar .nav-list.col,
.left-nav__boxes .Collapse-Label {
  /* align-items: start !important; */
  justify-content: start !important;
}

.home .flex .btns {
  display: flex;
  gap: 4px;
  align-items: center;
}

.home .flex h3 {
  font-size: 15px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: #002033;
}

.menu .menu-left {
  display: flex;
  align-items: center;
}

.home .menu .nav-list {
  width: fit-content;
}

.menu .btns {
  display: flex;
  gap: 4px;
  align-items: center;
  margin-left: 20px;
}

.home .nav-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
}

.menu .nav-list a.active::before {
  bottom: -9px;
}

/* sidebar */
.panels {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  height: calc(100vh - 48px);
  width: 100%;
}

.panels.h-full,
.panels.h-full .main {
  height: 100vh;
}

.panels .sidebar {
  background: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  width: 320px;
  padding: 0 84px;
  text-align: center;
}

.flex {
  display: flex;
}

.header .nav-list,
.menu .nav-list {
  overflow: visible;
}

/* navbar */
.navbar.active {
  min-width: 320px;
  overflow-y: auto;
  transform: scaleX(320px);
}

.w-full {
  width: 100%;
}

.h-fix .navbar {
  height: 100vh;

}

.navbar {
  padding: 12px;
  border-right: 1px solid #00416633;
  background: #fff;
  text-align: center;
  width: 56px;
  min-width: 56px;
  overflow-y: auto;
  transition: width, left, right, 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 48px);
}


.navbar .hamburger-menu {
  margin: 0 4px;
  display: flex;
}

.navbar .nav-logo {
  margin: 24px 3px;
  gap: 8px;
  align-items: center;
  overflow: hidden;
}

.navbar .che--NavbarRailItem {
  width: 32px;
  height: 32px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar .nav-list__icon {
  width: fit-content;
  height: 100%;
}

.navbar .nav-list__icon .icons--Icon-Svg {
  width: 10px;
  height: 10px;
}

.header .User {
  gap: 0 !important;
}

.header .header-left .header-breadcrumbs>button {
  /* margin-left: 16px; */
}

.hide-nav {
  min-width: 0;
  width: 0;
}

.navbar-hidden:not(.active) {
  transform: translateX(-100%);
}

.menu {
  border-bottom: 1px solid #00416633;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 4px;
  width: 100%;
  overflow: hidden;
  border-radius: 8px;
  min-width: 32px;
  cursor: pointer;
  position: relative;
}

.nav-list.active {
  background: #00426912;
}

.nav-list.active .nav-list__icon svg path {
  fill: #002033;
}

.nav-list.active .nav-link {
  color: #002033;
  font-weight: 500;
}

.nav-link {
  font-size: 13px;
  font-weight: 500;
  line-height: 19.5px;
  color: #00203399;
}

.sub-menu-list {
  position: absolute;
}

.nav-link.collapse {
  padding-left: 8px;
}

.navbar .Collapse-Label {
  width: 100%;
  padding: 0;
  border-radius: 8px;
}

.navbar .nav-list.col {
  flex-direction: column;
  align-items: start;
}

.navbar .Collapse {
  gap: 0;
}

.navbar .Collapse-Body .Collapse-Content {
  padding: 0;
}

.navbar .Collapse-Body .Collapse-Content p,
.navbar .Collapse-Body .Collapse-Content a {
  font-size: 13px !important;
  text-align: left;
  font-weight: 400;
  line-height: 19.5px;
  color: #00203399;
  padding: 6px 0;
  white-space: nowrap !important;
  display: block;
  border-radius: 8px;
  padding-left: 36px;
  transition: all .3s linear;
}

.navbar .Collapse-Body {
  width: 100%;
}

.navbar .Collapse-Body .Collapse-Content p:hover,
.navbar .Collapse-Body .Collapse-Content a:hover {
  background: #00426912;
}

.navbar .Collapse-Label a {
  font-size: 13px !important;
  white-space: nowrap !important;
}

.navbar .Collapse-Label a:hover {
  color: #00203399;
}

.items-center {
  align-items: center;
}

.navbar .line {
  width: 100%;
  min-width: 32px;
  height: 1px;
  background: #00416633;
  margin: 12px 0;
}

.navbar .User-AvatarWrapper {
  padding: 0;
}

.User_view_clear:hover {
  background: transparent;
}

.navbar .arrow-prew {
  transition: all .2s ease-in-out;
  margin-top: 12px;
}

.navbar .navbar-top .nav-list__icon {
  padding: 4px;
}

.navbar-top .Collapse-Label .icons--Icon-Svg path {
  fill: #00203399;
}

.navbar-top .nav-link {
  font-weight: 400;
}

.left-nav__boxes {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.left-nav__boxes .Collapse-Label {
  padding-right: 12px;
  transition: all .2s linear;
}

.left-nav__boxes .Collapse-Label:hover {
  background: #00426912;
}

.left-nav__boxes .Collapse-Body .Collapse-Content {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-top: 4px;
  width: 100%;
}

.nav-profile__box {
  padding: 4px;
}

.nav-profile__box.avatar {
  height: 32px;
}

.navbar-bottom .User-Name {
  margin-bottom: 0;
}

.mt-4 {
  margin-top: 4px;
}

.mb-12 {
  margin-bottom: 12px;
}

.navbar .nav-list__icon svg path {
  fill: #00203399;
}

.navbar-bottom .arrow-prew svg path,
.navbar-bottom .nav-list__icon svg path {
  fill: #00395CCC;
}

.navbar.active .arrow-prew {
  transform: rotate(180deg);
}

/* other-fix__width */
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.other-fix__width .header-container {
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

.other-fix__width .main {
  background: #EDEEF0;
  max-width: 1280px;
  margin: 0 auto;
}

.other-fix__width .panels {
  background: #fff;
}

.other-overaly__content {
  position: relative;
  background: #fff;
  z-index: 1;
  /* padding: 0 16px; */
}

.other-overaly__content .main {
  box-shadow: 0px 2px 4px 0px #00000014;
  box-shadow: 0px 0px 6px 0px #00000005;
  border: 1px solid #00416633;
  max-width: 320px;
  background: #fff;
  margin: 24px 0;
  border-radius: 8px;
  height: calc(100vh - 96px);
}

.other-overaly__content .flex-item {
  justify-content: center;
  width: 100%;
}

/* .jusfi */
.other-overaly__content .main {
  min-width: 320px;
}

.flex-item {
  display: flex;
  justify-content: center;
}

.other-overaly__content .main.last-child {
  max-width: 936px;
  min-width: 936px;
  margin-left: 24px;
}

.no-full {
  width: fit-content !important;
}

.other-overaly__content::before {
  content: "";
  position: absolute;
  top: 47px;
  left: 0;
  width: 100%;
  height: 240px;
  background: linear-gradient(89.1deg, #4DB6C4 0%, #0078D2 100%);
  z-index: -1;
}

/* /top-content */
.top-content {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  height: 100%;
  /* max-height: 160px; */
}

.other-block__container {
  margin: 8px;
  height: 100%;
  overflow: hidden;
}

.other-block__container .content-box {
  min-width: 320px;
  box-shadow: 0px 2px 4px 0px #00000014;
  box-shadow: 0px 0px 6px 0px #00000005;
  border: 1px solid #00416633;
  border-radius: 8px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100% !important;
  width: 100%;
  min-height: 100%;
}

.other-block__container .bottom-content {
  height: 100%;
  margin-top: 8px;
}

.other-bottom__panel,
.other-top__panel {
  min-height: 160px;
}

.other-block__container {
  width: calc(100vw - 16px);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  height: calc(100vh - 64px);
  overflow: hidden;
}


.items-start {
  align-items: start !important;
}

.resizer-right {
  /* flex: 1 1 0%; */
  flex-grow: auto;
  max-width: calc(100vw - 320px - 16px);
}

.resizer-bttom {
  min-width: 320px;
  min-height: 160px;
  max-height: calc(100vh - 232px);
}

.other-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.other-panel .btns,
.resize-page .btns {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 397px;
  row-gap: 10px;
  column-gap: 8px;
}

.resize-page .midle-sidebar {
  text-align: center;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sidebar {
  width: 640px;
}

.sidebar-content {
  align-items: center;
  justify-content: center;
  display: flex;
}

.resize-bottom__box .header-sidebar {
  max-width: 100%;
}

.header-sidebar {
  padding: 12px 16px;
  display: flex;
  justify-content: space-between;
  max-width: 640px;
  width: 100%;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-header p {
  font-size: 15px;
  color: #002033;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
}

.modal {
  width: 480px;
  height: 400px;
  padding: 12px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
}

.modal-lg {
  width: 1200px;
  height: 800px;
}

.modal-body {
  text-align: center;
}

.modal-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bottom-sidebar {
  width: 100%;
}

.bottom-sidebar .header-sidebar {
  width: 100%;
  max-width: 100%;
}

.no-shadow {
  box-shadow: none;
}

/* resize-page */
.resize-page {
  height: 100vh;
}

.resize-page .sidebar-box .header-sidebar {
  padding: 0;
  width: 100%;
  min-width: 100%;
}

.resize-page .sidebar-box {
  background: #fff;
  min-width: 320px;
  padding: 12px 16px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.resize-box {
  height: 100% !important;
  min-width: 320px;
  max-width: 560px;
}

.resize-top {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  height: 100%;
  max-height: 638px;
  min-height: 100%;
}

.bottom-panel {
  min-height: 320px;
  max-height: 700px;
}

.top-panel {
  min-height: 300px;
}

.resize-bottom {
  height: 100%;
}

.resize-page .left-sidebar {
  border-right: 1px solid #00416633;
}

.resize-page .right-sidebar {
  border-left: 1px solid #00416633;
}

.resize-bottom__box {
  border-top: 1px solid #00416633;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.resize-bottom .sidebar-box {
  min-height: 320px !important;
}

.resize-bottom__box .sidebar-box {
  height: calc(100vh - 639px);
}

.sidebar-box__bottom {
  min-height: 320px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  padding: 12px 16px;
  text-align: center;
}

.notification {
  position: relative;
}

.navbar .notification .nav-list__icon {
  position: relative;
}

.navbar.active .notification .nav-list__icon::before {
  display: none;
}

.navbar .notification .nav-list__icon::before {
  content: "";
  position: absolute;
  top: 6px;
  right: 0;
  height: 6px;
  width: 6px;
  background: #EB5757;
  border-radius: 50%;
  transform: translateY(-50%);
}

.notification::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  height: 6px;
  width: 6px;
  background: #EB5757;
  border-radius: 50%;
  transform: translateY(-50%);
}


/*  */

.resizable-box {
  display: flex;
}

.resizable-box__handle--bottom {
  background-color: #fff;
}

.resizable-box--is-init-height {
  flex-grow: 1;
}

.top-content__right {
  max-width: 1584px;
  min-width: 320px;
}

.top-content__left {
  min-width: 320px;
  width: 320px;
}

.resizer-right {
  max-height: 688px;

}

.top-content .gap-8 {
  gap: 4px;
}

.white-box {
  min-height: 160px;
  min-width: 320px;
  background: #fff;
  border: 1px solid red;
}

.max-h-full .other-block__container .top-content .content-box {
  height: auto;
}

.mb-4 {
  margin-bottom: 4px;
}

.navbar-bottom .nav-list.col:hover {
  background: #00426912;
}

.navbar-bottom .nav-list.col.avatar:hover {
  background: transparent;
}

.left-nav__boxes .Collapse-Label .nav-link {
  padding-left: 4px;
}

.User-Name {
  font-size: 12px;
}

/* .navbar-bottom .nav-list.col.avatar:hover {
  background: transparent;
} */

/* ===================================================================== */

.parent {
  margin: 30px;
  background: #fff;
  border-radius: 10px;
}

.resizable-box {
  min-height: 320px;
  max-height: 577px;
}

.parent .flex {
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.parent .flex .box {
  background: red;
  padding: 50px;
  height: 100%;
  min-height: 320px;
}

.bottom-el {
  background: #000;
  width: 100%;
  height: 100%;
  min-height: 320px;
}

/* ============================ */