html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-decoration: none;
  line-height: 1.2;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

textarea:focus,
select:focus {
  outline: none !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

button {
  border: none;
  background: none;
}

.btn:focus {
  box-shadow: none;
}

input:focus {
  outline: none !important;
}

a {
  display: inline-block;
}

a:active,
a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #002033;
  margin: 0;
  padding: 0;
  background: #EDEEF0;
}

.wrapper {
  /* min-width: 1920px; */
  width: 100%;
  overflow: hidden;
}

.title {
  font-size: 23px;
  font-weight: 700;
  line-height: 32px;
}

/* header */
/* header start */
.header {
  background: #fff;
  padding: 12px 16px;
  display: flex;
  align-items: center;
  height: 48px;
  justify-content: space-between;
  border-bottom: 1px solid #00416633;
}

.logo {
  background: #32B4FF;
  border-radius: 4px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .logo-box {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-right: 16px;
}

.header .logo-box p {
  font-size: 16px;
  line-height: 25px;
  font-weight: 700;
  color: #002033;
}

.header .header-left {
  display: flex;
  align-items: center;
}

.header .header-left input {
  width: 200px;
}

.header .search-box {
  position: relative;
}

.header .search-input {
  width: 200px;
  position: relative;
}

.header .search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 6px;
  width: 12px;
  height: 12px;
  z-index: 90;
}

.header .line {
  width: 1px;
  height: 16px;
  background: #00416633;
  margin: 0 16px;
}

.header .line.mx-8 {
  margin: 0 8px;
}

.header-breadcrumbs {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
}

.header-dropdown {
  padding: 0;
  background: transparent;
}

.header-breadcrumbs .ListItem {
  padding: 0;
}

.header-breadcrumbs .ListItem:hover {
  background: transparent;
}

.header-breadcrumbs .ListItem:before {
  width: 100%;
  height: 2px;
  top: auto;
  bottom: -17px;

}

.nav-list ul {
  display: flex;
  align-items: center;
  gap: 12px;
}

.nav-list a {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #00203399;
  display: inline-block;
  position: relative;
}

.nav-list a.active {
  color: #002033;
}

.nav-list a.active::before {
  content: "";
  position: absolute;
  bottom: -14px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #0078D2;
}

.BreadcrumbsItem-Link {
  cursor: pointer;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header-right .User:hover {
  background: transparent;
}

/* intro */
.intro {
  margin: 15px 0 36px 0;
  padding-left: 16px;
  padding-right: 16px;
}

.intro .title {
  margin: 24px 0 26px 0;
}

.intro-box {
  max-width: 806px;
  margin: 0 auto;
}

.intro-box img {
  width: 160px;
  height: 120px;
}

.intro-cards {
  display: grid;
  margin-top: 20px;
  row-gap: 20px;
  grid-template-columns: 175px 175px 175px;
  justify-content: space-between;
}

.intro-card {
  text-align: center;
}

.page-info {
  text-align: center;
  margin-top: 16px;
}

.hidden {
  display: none;
}

.hamburger-menu {
  margin-right: 16px;
}

/* main */
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: calc(100vh - 48px);
  width: 100%;
}

.main.h-full {
  height: 100vh;
}

.menu {
  background: #fff;
  padding: 8px 16px;
}

.menu .nav-list a.active::before {
  bottom: -12px;
}

/* sidebar */
.panels {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  height: calc(100vh - 48px);
  width: 100%;
}

.panels.h-full,
.panels.h-full .main {
  height: 100vh;
}

.panels .sidebar {
  background: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  width: 320px;
  padding: 0 84px;
  text-align: center;
}

.flex {
  display: flex;
}

.header .nav-list,
.menu .nav-list {
  overflow: visible;
}

/* navbar */
.navbar.active {
  min-width: 320px;
  overflow-y: auto;
  transform: scaleX(320px);
}

.w-full {
  width: 100%;
}

.navbar {
  padding: 12px;
  border-right: 1px solid #00416633;
  background: #fff;
  text-align: center;
  /* margin: 0 auto; */
  width: 56px;
  min-width: 56px;
  overflow: hidden;
  transition: width, left, right, 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navbar .hamburger-menu {
  margin: 0 4px;
  display: flex;
}

.navbar .logo {
  margin: 24px 4px;
}

.navbar .che--NavbarRailItem {
  width: 32px;
  height: 32px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar .nav-list__icon {
  width: fit-content;
  height: 100%;
}

.navbar .nav-list__icon .icons--Icon-Svg {
  width: 10px;
  height: 10px;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 4px;
  width: 100%;
  overflow: hidden;
  border-radius: 8px;
  min-width: 32px;
  cursor: pointer;
  position: relative;
}

.nav-list.active {
  background: #00426912;
}

.nav-list.active .nav-list__icon svg path {
  fill: #002033;
}

.nav-list.active .nav-link {
  color: #002033;
}

.nav-link {
  font-size: 13px;
  font-weight: 500;
  line-height: 19.5px;
  color: #00203399;
}

.sub-menu-list {
  position: absolute;
}

.nav-link.collapse {
  padding-left: 8px;
}

.navbar .Collapse-Label {
  width: 100%;
  padding: 0;
}

.navbar .nav-list.col {
  flex-direction: column;
  align-items: start;
}

.navbar .Collapse-Body {
  margin-left: 31px;
}

.navbar .Collapse {
  gap: 0;
}

.navbar .Collapse-Body .Collapse-Content {
  padding: 0;
}

.navbar .Collapse-Body .Collapse-Content p,
.navbar .Collapse-Body .Collapse-Content a {
  font-size: 13px !important;
  text-align: left;
  font-weight: 400;
  line-height: 19.5px;
  color: #00203399;
  padding: 6px 0;
  white-space: nowrap !important;
  display: block;
}

.navbar .Collapse-Label a {
  font-size: 13px !important;
  white-space: nowrap !important;
}

.items-center {
  align-items: center;
}

.navbar .line {
  width: 100%;
  min-width: 32px;
  height: 1px;
  background: #00416633;
  margin: 12px 0;
}

.navbar .User-AvatarWrapper {
  padding: 0;
}

.User_view_clear:hover {
  background: transparent;
}

.navbar .arrow-prew {
  transition: all .2s ease-in-out;
}


.navbar .nav-list__icon svg path {
  fill: #00203399;
}

.navbar-bottom .arrow-prew svg path,
.navbar-bottom .nav-list__icon svg path {
  fill: #00395CCC;
}

.navbar.active .arrow-prew {
  transform: rotate(180deg);
}